body {
    font-family: SimSun,NSimSun,SimHei,Arial;
}

section#section-hero h1 {
    font-weight: 400;
    color: rgb(0,68,115);
}


div#prima-hero-logo img {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#section-hero div.home-section-bg {
    box-shadow: 0 0 25px 25px rgba(77,139,78,0.3) inset;
}

section#congress-instances div.items-center{
    border: 1px solid lightgray;
    border-radius:2px;
}

div.prima-reps h3 {
    font-weight: 500;
    font-size: 110%;
}

div.prima-reps ul a {
    text-decoration: underline;
}

form.netlify input, form.netlify textarea {
    border: 1px solid black;
    width: 80%;
}

form.netlify .form-input {
  appearance: none;
  border-radius: 8px;
  border-width: 0;
  width: 100%;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255/var(--tw-bg-opacity));
  font-size: 14px;
  line-height: 24px;
  padding: 8px 16px;
  --tw-text-opacity: 1;
  color: rgb(37 37 45/var(--tw-text-opacity));
  --tw-shadow: 0px 0px 0px 1px rgba(10,10,46,.16) inset,0px 1px 1px rgba(10,10,11,.06);
  --tw-shadow-colored: inset 0px 0px 0px 1px var(--tw-shadow-color),0px 1px 1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
}

form.netlify .form-label {
  cursor: pointer;
  display: block;
  font-weight: 500;
  margin-bottom: 12px;
  --tw-text-opacity: 1;
  color: rgb(18 18 23/var(--tw-text-opacity));
}

form.netlify .form-group input {
    text-align: right;
}
form.netlify button {
    margin: 0 auto;
    display: block;
    padding: 0.6rem 2rem 0.6rem 2rem;
