body {
    font-family: SimSun,NSimSun,SimHei,Arial;
}

section#section-hero h1 {
    font-weight: 400;
    color: rgb(0,68,115);
}


div#prima-hero-logo img {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#section-hero div.home-section-bg {
    box-shadow: 0 0 25px 25px rgba(77,139,78,0.3) inset;
}
