{{ $affiliates := .Params.affiliates }}
<ul>
  {{ range $affiliates }}
    {{ $individual := site.GetPage (printf "/representatives/%s.md" .) }}
    <li>
      <strong>{{ $individual.Params.name }}</strong><br>
      <strong>{{ $individual.Title }}</strong><br>
      Affiliation: {{ $individual.Params.affiliation }}<br>
      Email: <a href="mailto:{{ $individual.Params.email }}">{{ $individual.Params.email }}</a><br>
      {{ if $individual.Params.photo }}
        <img src="{{ $individual.Params.photo }}" alt="{{ $individual.Title }}" style="max-width: 100px;"/>
      {{ end }}
    </li>
  {{ end }}
</ul>
