{{ $affiliates := .affiliates }}
<ul>
  {{ range $affiliates }}
    {{ $individual := site.GetPage (printf "/representatives/%s.md" .) }}
    <li>
      <strong><a class="no-underline" href="{{ $individual.RelPermalink }}">{{ $individual.Params.Title }}</a></strong><br>
      Affiliation: {{ $individual.Params.affiliation }}<br>
      Email: <a href="mailto:{{ $individual.Params.email }}">{{ $individual.Params.email }}</a><br>
      {{ if $individual.Params.photo }}
        <img src="{{ $individual.Params.photo }}" alt="{{ $individual.Title }}" style="max-width: 100px;"/>
      {{ end }}
    </li>
  {{ end }}
</ul>
